:root {
  --primary-color: rgba(0, 0, 0, .40);
  --overlay-color: rgba(24, 39, 51, 0.85);
  --menu-speed: 0.75s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}

.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 0 3rem;
}

.showcase {
  background-color: var(--primary-color);
  color: #fff;
  height: 92vh;
  position: relative;
}

.showcase:before {
  content:'';
  background: url('https://cdn.pixabay.com/photo/2017/03/18/19/58/turntable-2154823_1280.jpg') no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.showcase .showcase-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.showcase h1 {
  font-size: 4rem;
}

.showcase p {
  font-size: 1.2rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.btn {
  display: inline-block;
  border: none;
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  text-decoration: none;
  transition: opacity 1s ease-in;
}

.btn:hover {
  opacity: 0.7;
}

/* Service Section */

.services-section{
  background-color: #fff;
  /* background: url(bg.jpg); */
  background-size: cover;
  padding: 60px 0;
}
.inner-width{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  overflow: hidden;
}
.section-title{
  text-align: center;
  color: #43464B;
  text-transform: uppercase;
  font-size: 30px;
}
.border{
  width: 160px;
  height: 2px;
  background: #82ccdd;
  margin: 40px auto;
}
.services-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service-box{
  max-width: 33.33%;
  padding: 10px;
  text-align: center;
  color: #43464B;
  cursor: pointer;
}

.service-icon{
  display: inline-block;
  width: 70px;
  height: 70px;
  border: 3px solid #43464B;
  color: #43464B;
  transform: rotate(45deg);
  margin-bottom: 30px;
  margin-top: 16px;
  transition: 0.3s linear;
}
.service-icon i{
  line-height: 70px;
  transform: rotate(-45deg);
  font-size: 26px;
}
.service-box:hover .service-icon{
  background: #43464B;
  color: #ddd;
}
.service-title{
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.service-desc{
  font-size: 14px;
}

/* Pricing Section */

.pricing-section {
  min-height: 100vh;
  background-image: linear-gradient(125deg,#43464B,#ddd);
}

.pricing-container{
  /* max-width: 1000px; */
  margin: auto;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
}

.main-pricing-title {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 30px;
  padding-top: 4rem;
}

.pricing-table{
  background: #f1f1f1;
  flex: 1;
  margin: 2rem 2rem 0;
  text-transform: uppercase;
  height: 60%;
}

.pricing-header{
  color: #fff;
  position: relative;
  margin-bottom: 20px;
}

.price{
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
}

.price span{
  font-size: 30px;
}

.title{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%,50%);
  width: 80%;
  max-width: 360px;
  text-align: center;
  padding: 8px 0;
  font-size: 14px;
}

.pricing-list{
  margin-top: 3rem;
  padding: 10px 20px;
}

.pricing-list li{
  margin: 8px 0;
  font-size: 14px;
  color: #344;
  text-align: center;
}

.pricing-border{
  width: 80px;
  height: 1px;
  background: #ddd;
  margin: auto;
}

.pricing-table a{
  display: block;
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 3rem;
  text-align: center;
  padding: 8px 0;
  font-size: 14px;
  border: 1px solid;
  max-width: 360px;
  transition: .2s linear;
}
.pricing-table a:hover{
  border-radius: 30px;
}
.table1 .pricing-header{
  background: #2c3e50;
}
.table2 .pricing-header{
  background: #2c3e50;
}
.table3 .pricing-header{
  background: #2c3e50;
}

.table1 .title{
  background-image: linear-gradient(125deg,#34495e,#95a5a6);
}
.table2 .title{
  background-image: linear-gradient(125deg,#34495e,#95a5a6);
}
.table3 .title{
  background-image: linear-gradient(125deg,#34495e,#95a5a6);
}

.table1 a{
  color: #2c3e50;
}
.table2 a{
  color: #2c3e50;
}
.table3 a{
  color: #2c3e50;
}

.table1 a:hover{
  background: #2c3e50;
  color: #fff;
}
.table2 a:hover{
  background: #2c3e50;
  color: #fff;
}
.table3 a:hover{
  background: #2c3e50;
  color: #fff;
}

@media screen and (max-width:780px) {
  .pricing-table{
    flex: auto;
  }
}

/* About Section */

.about-section{
    background: url('https://cdn.pixabay.com/photo/2017/03/09/20/53/microphone-2130806_1280.jpg') no-repeat;
    background-size: cover;
    height: 90vh;
}

.about-inner-container{
    width: 35%;
    float: right;
    margin: 8rem 4rem 2rem 0;
}

.about-inner-container h1{
    color: #fff;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.about-text{
    font-size: 16px;
    color: #fff;
    line-height: 30px;
    text-align: left;
    margin-bottom: 1rem;
}

@media screen and (max-width:780px) {
  .about-inner-container {
    margin: 20%;
    padding-top: 2rem;
    width: 65%;
  }

  .about-section {
    height: 92vh;
  }
}

/* Contact Page */

.contact-section{
  background: #313840;
  padding: 80px 0;
  text-align: center;
  height: 92vh;
}

.inner-width{
  max-width: 600px;
  margin: auto;
  padding: 0 20px;
}

.contact-section h1{
  font-size: 20px;
  color: #888;
  margin-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 400;
}

.name,.email,.message{
  background: none;
  border:none;
  outline: none;
  border-bottom: 1px solid;
  color: #888;
  padding: 10px 6px;
  font-size: 14px;
  margin-bottom: 40px;
}

.name{
  float: left;
  width: 270px;
}

.email{
  float: right;
  width: 270px;
}

.message{
  min-width: 100%;
  max-width: 100%;
}


.contact-section button{
  background: none;
  color: #70a1ff;
  border: 1px solid #70a1ff;
  padding: 12px 40px;
  border-radius: 8px;
  text-transform: uppercase;
  font-size: 14px;
  transition: 0.4s linear;
  cursor: pointer;
}

.contact-section button:hover{
  background: #70a1ff;
  color: #fff;
}


@media screen and (max-width:600px){
  .name,.email{
    width: 100%;
  }
}

/* Footer */

.footer-section {
  height: 4vh;
  text-align: center;
  padding: 1rem 0;
  margin-bottom: 1rem;
}

.social-icon {
  margin: 0 10px 20px;
}

.copyright {
  margin-bottom: 1rem;
}

/* Page Breaks */

@media screen and (max-width:960px) {
  .service-box{
    max-width: 45%;
  }
}

@media screen and (max-width:768px) {
  .service-box{
    max-width: 50%;
  }
}

@media screen and (max-width:480px) {
  .service-box{
    max-width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .showcase {
    height: 100vh;
  }
}
