{% extends 'base.html' %}

{% block body %}
<div class="contact-section">
    <div class="inner-width">
      <h1>Get in touch with us</h1>
      <form class="" action="/result" method="post">
      <input type="text" class="name" name="name" placeholder="Your Name">
      <input type="email" class="email" name="email" placeholder="Your Email">
      <textarea rows="1" placeholder="Message" class="message" name="message"></textarea>
      <button>Get in touch</button>
      </form>
    </div>
  </div>
{% endblock %}
