{% extends 'base.html' %}

{% block body %}

  <header class="showcase">
    <div class="container showcase-inner">
      <h1>Love Soul Productions</h1>
      <p>Are you an artist or band that needs your music recorded professionally without hurting your wallet?</p>
      <a href="/about" class="btn">Read More</a>
    </div>
  </header>

  <!-- Service Section -->
  <div class="services-section" id="services">
    <div class="inner-width">
      <h1 class="section-title">Our Services</h1>
      <div class="border"></div>
      <div class="services-container">

        <div class="service-box">
          <div class="service-icon">
            <i class="fas fa-microphone"></i>
          </div>
          <div class="service-title">Recording</div>
          <div class="service-desc">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eaque ratione rem porro, nihil.
          </div>
        </div>

        <div class="service-box">
          <div class="service-icon">
            <i class="fas fa-sliders-h"></i>
          </div>
          <div class="service-title">Mixing</div>
          <div class="service-desc">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eaque ratione rem porro, nihil.
          </div>
        </div>

        <div class="service-box">
          <div class="service-icon">
            <i class="fas fa-headphones"></i>
          </div>
          <div class="service-title">Mastering</div>
          <div class="service-desc">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eaque ratione rem porro, nihil.
          </div>
        </div>

        <div class="service-box">
          <div class="service-icon">
            <i class="fas fa-home"></i>
          </div>
          <div class="service-title">Event Hosting</div>
          <div class="service-desc">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eaque ratione rem porro, nihil.
          </div>
        </div>

        <div class="service-box">
          <div class="service-icon">
            <i class="fas fa-users"></i>
          </div>
          <div class="service-title">Curating</div>
          <div class="service-desc">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eaque ratione rem porro, nihil.
          </div>
        </div>

        <div class="service-box">
          <div class="service-icon">
            <i class="fas fa-book"></i>
          </div>
          <div class="service-title">Booking</div>
          <div class="service-desc">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eaque ratione rem porro, nihil.
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Prices Section -->
  <div class="pricing-section">
    <h1 class="main-pricing-title">Pricing</h1>
    <div class="pricing-container">
      <div class="pricing-table table1">
        <div class="pricing-header">
          <div class="price"><span>$</span>75</div>
          <div class="title">Basic</div>
        </div>
        <ul class="pricing-list">
          <li><strong>20GB</strong>Lorem ipsum dolor sit amet consectetur</li>
          <div class="pricing-border"></div>
          <li><strong>4</strong>Lorem ipsum dolor sit amet consectetur</li>
          <div class="pricing-border"></div>
          <li><strong>1</strong>Lorem ipsum dolor sit amet consectetur</li>
          <div class="pricing-border"></div>
          <li><strong>24h</strong>Lorem ipsum dolor sit amet consectetur</li>
        </ul>
        <a href="#">Schedule Appointment</a>
      </div>

      <div class="pricing-table table2">
        <div class="pricing-header">
          <div class="price"><span>$</span>125</div>
          <div class="title">Pro</div>
        </div>
        <ul class="pricing-list">
          <li><strong>60GB</strong>Lorem ipsum dolor sit amet consectetur</li>
          <div class="pricing-border"></div>
          <li><strong>10</strong>Lorem ipsum dolor sit amet consectetur</li>
          <div class="pricing-border"></div>
          <li><strong>3</strong>Lorem ipsum dolor sit amet consectetur</li>
          <div class="pricing-border"></div>
          <li><strong>24h</strong>Lorem ipsum dolor sit amet consectetur</li>
        </ul>
        <a href="#">Schedule Appointment</a>
      </div>

      <div class="pricing-table table3">
        <div class="pricing-header">
          <div class="price"><span>$</span>200</div>
          <div class="title">Premium</div>
        </div>
        <ul class="pricing-list">
          <li><strong>200GB</strong>Lorem ipsum dolor sit amet consectetur</li>
          <div class="pricing-border"></div>
          <li><strong>30</strong>Lorem ipsum dolor sit amet consectetur</li>
          <div class="pricing-border"></div>
          <li><strong>10</strong>Lorem ipsum dolor sit amet consectetur</li>
          <div class="pricing-border"></div>
          <li><strong>24h</strong>Lorem ipsum dolor sit amet consectetur</li>
        </ul>
        <a href="#">Schedule Appointment</a>
      </div>
    </div>
  </div>


{% endblock %}
