{% extends 'base.html' %}

{% block body %}

  <header class="showcase">
    <div class="container showcase-inner">
      <h1>Love Soul Productions</h1>
      <p>Are you an artist or band that needs your music recorded professionally without hurting your wallet?</p>
      <a href="/about" class="btn">Read More</a>
    </div>
  </header>

  <!-- Service Section -->
  <div class="services-section" id="services">
    <div class="inner-width">
      <h1 class="section-title">Our Services</h1>
      <div class="border"></div>
      <div class="services-container">

        <div class="service-box">
          <div class="service-icon">
            <i class="fas fa-microphone"></i>
          </div>
          <div class="service-title">Recording</div>
          <div class="service-desc">
            <p>Weather you are an artist/band that needs your original music recorded or a parent that wants your child's ﬁrst recital.</p>
              <p>We are here to do bring you the best in audio production.We offer a number of recording services that cater to:</p>
              <br>
            <ul>
              <li>Full Bands</li>
              <li>Solo Artists</li>
              <li>Acoustic Artist's</li>
              <li>Live Performances</li>
              <li>Interviews</li>
            </ul>
            <br>
            <p>We are here to help achieve the best quality of sound for whatever your needs may be.</p>
          </div>
        </div>

        <div class="service-box">
          <div class="service-icon">
            <i class="fas fa-sliders-h"></i>
          </div>
          <div class="service-title">Mixing</div>
          <div class="service-desc">
            <p>We offer affordable mixing in all styles and genre's and are conﬁdent our team can provide youwith the best in quality sound and a mix that is guaranteed to set your sound apart</p>
          </div>
        </div>

        <div class="service-box">
          <div class="service-icon">
            <i class="fas fa-headphones"></i>
          </div>
          <div class="service-title">Mastering</div>
          <div class="service-desc">
            <p>We can take any mix and master it to ensure that it sounds great on every headphone, speaker,Bluetooth speaker, and car stereo that you or anyone plays it through.</p>
          </div>
        </div>

        <div class="service-box">
          <div class="service-icon">
            <i class="fas fa-home"></i>
          </div>
          <div class="service-title">Event Hosting/Booking</div>
          <div class="service-desc">
            <p>We are a community based business that focuses on giving back through our events by bookinglocal artists of every kind and bringing together all walks of life through the power of Love,music, and art in a way that ensures that revenue is being cycled back into the community.We have booked over 50 artist's with the city of Long Beach for downtown events and areconstantly looking for new artist's to network within the community.</p>
          </div>
        </div>

        <div class="service-box">
          <div class="service-icon">
            <i class="fas fa-users"></i>
          </div>
          <div class="service-title">Curating</div>
          <div class="service-desc">
            <p>We have curated around 100 events; most of which have been for or in participation with the cityof Long Beach. We have an unique ability to cater to the community and create a space that iswelcoming to all walks of life and create a program that offers the best form of entertainmentand art with the bigger goal of bringing people together.</p>
          </div>
        </div>

        <div class="service-box">
          <div class="service-icon">
            <i class="fas fa-book"></i>
          </div>
          <div class="service-title">Teaching</div>
          <div class="service-desc">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eaque ratione rem porro, nihil.
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Prices Section -->
  <div class="pricing-section" id="prices">
    <h1 class="main-pricing-title">Pricing</h1>
    <div class="pricing-container">
      <div class="pricing-table table1">
        <div class="pricing-header">
          <div class="price"><span>$</span>25</div>
          <div class="title">Acoustic</div>
        </div>
        <ul class="pricing-list">
          <li><strong>1-5 Tracks</strong></li>
          <div class="pricing-border"></div>
          <li><strong>This basically works for an acoustic song that is just vocals and guitar</strong></li>
          <div class="pricing-border"></div>
          <li><strong>like unplugged and if you wanted harmonies and a bass for example </strong></li>
          <div class="pricing-border"></div>
          <li><strong>24h</strong>Lorem ipsum dolor sit amet consectetur</li>
        </ul>
        <a href="/contact">Schedule Appointment</a>
      </div>

      <div class="pricing-table table2">
        <div class="pricing-header">
          <div class="price"><span>$</span>50</div>
          <div class="title">Basic</div>
        </div>
        <ul class="pricing-list">
          <li><strong>5-10 Tracks</strong></li>
          <div class="pricing-border"></div>
          <li><strong>This will allow for a normal song.</strong></li>
          <div class="pricing-border"></div>
          <li><strong>You can have a few guitars, vocals, bass, and keyboard.</strong></li>
          <div class="pricing-border"></div>
          <li><strong>Or any combination of instruments.</strong></li>
        </ul>
        <a href="/contact">Schedule Appointment</a>
      </div>

      <div class="pricing-table table3">
        <div class="pricing-header">
          <div class="price"><span>$</span>75</div>
          <div class="title">Pro</div>
        </div>
        <ul class="pricing-list">
          <li><strong>10-15 Tracks</strong></li>
          <div class="pricing-border"></div>
          <li><strong>Live Drums is 6 tracks</strong></li>
          <div class="pricing-border"></div>
          <li><strong>10</strong>Lorem ipsum dolor sit amet consectetur</li>
          <div class="pricing-border"></div>
          <li><strong>24h</strong>Lorem ipsum dolor sit amet consectetur</li>
        </ul>
        <a href="/contact">Schedule Appointment</a>
      </div>

      <div class="pricing-table table3">
        <div class="pricing-header">
          <div class="price"><span>$</span>100</div>
          <div class="title">Premium</div>
        </div>
        <ul class="pricing-list">
          <li><strong>15-20 Tracks</strong></li>
          <div class="pricing-border"></div>
          <li><strong>Covers full kit</strong></li>
          <div class="pricing-border"></div>
          <li><strong>A few guitars and Vocal Harmonies</strong></li>
          <div class="pricing-border"></div>
          <li><strong>All instruments</strong></li>
        </ul>
        <a href="/contact">Schedule Appointment</a>
      </div>
    </div>
  </div>


{% endblock %}
